{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Laborum blanditiis iure iste, nemo nisi aut quos soluta vel 
                dolores consequatur doloribus ipsum quae, quaerat ipsa beatae 
                mollitia fugit temporibus esse!
            </h1>
        </div>

        <div class="col-4">
            <img src="assets/img/imagen.jpg" class="img-thumbnail" alt="">
        </div>
    </div>

{{> footer }}